<div class="fields">
  {% set path = path('page_view', {'id' : item.id }) %}
  <h2 class="field field-title"><a href="{{ path }}">{{ item.title }}</a></h2>
  <div class="field field-body">{{ item.body }}</div>
  <div class="field field-page-link"><a href="{{ path }}">Докладніше</a></div>
</div>